/*border: 1px solid violet;*/


body {
	max-width: 900px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	font-family: "Roboto", "Arial", sans-serif;
}

.page-slider {
	position: relative;
	min-height: 2433px;
}
	
.page-slider input[type="radio"] {
	display: none; 
}

.page-label-group {
	position: absolute;
	top: 22.8%;
	left: 1.3%;
	padding: 10px;
	z-index: 1;
	cursor: default;
	position: absolute;
}

.page-label-group label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	box-shadow: 0 0 0 2px rgb(255, 255, 255);
	border-radius: 50%;
	cursor: pointer;
}

.page-label-group label:last-of-type {
	margin-right: 0;
}

.page-slider #btn1:checked ~ .page-label-group label[for="btn1"] {
	background: rgb(255, 255, 255);
}

.page-slider #btn2:checked ~ .page-label-group label[for="btn2"] {
	background: rgb(255, 255, 255);
}

.page-slider #btn3:checked ~ .page-label-group label[for="btn3"] {
	background: rgb(255, 255, 255);
}

.page-slider .page {
	position: absolute;
	width: 100%;
	min-height: 2433px;
	color: rgb(255, 255, 255); 
	z-index: -1;
	opacity: 0;
	transition: opacity 1s ease-in;
}

.page-slider .bg1 {
	background: url("../img/Promo1.jpg") no-repeat;
}

.page-slider .bg2 {
	background: url("../img/Promo2.jpg") no-repeat; 
}

.page-slider .bg3 {
	background: url("../img/Promo3.jpg") no-repeat;
}

.page-slider #btn1:checked ~ .bg1 {
	opacity: 1;
}

.page-slider #btn2:checked ~ .bg2 {
	opacity: 1;
}	

.page-slider #btn3:checked ~ .bg3 {
	opacity: 1;
}

.page-content a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	border-bottom: 1px solid white;
	border-color: rgba(255, 255, 255, 0.3);
}
/*--------------------------------------COMMON CLASS------------------------------------------*/

.page-content [class$="-btn"],
.page-content [type="submit"] {
	padding: 5px 20px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	color: rgb(255, 255, 255);
	border-radius: 25px;
	border: none;
	background-image: linear-gradient(90deg, rgb(231,74,53), rgb(242,104,67));
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.center {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
	/* border: 1px solid violet; */
}

/*----------------------HEADER-------------------------*/

.header-btn-block {
	display: flex;
	justify-content: space-between;
	width: 262px;
	margin-left: auto;
	padding: 10px;
	padding-top: 23px;
}

.header-btn  {
	position: relative;
	width: 33px;
	height: 32px;
	font-size: 14px;
	font-weight: normal;
	line-height: 32px; 
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

.header-btn.search::after {
	content: url("../img/Loupe.png");
	position: absolute;
	top: 4px;
	left: 8px;
}

.header-btn.enter {
	width: 49px;
	padding-left: 44px;
}

.header-btn.enter::after {
	content: url("../img/enter.png");
	position: absolute;
	top: 5px;
	left: 16px;
}

.header-btn.cart {
	width: 73px;
	padding-left: 44px;
}

.header-btn.cart::after {
	content: url("../img/cart.png");
	position: absolute;
	top: 6px;
	left: 16px;
}

.header-logo {
	padding: 9px 10px;
}

.page-nav {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 7px;
	list-style: none;
}

.page-nav li {
	margin-top: 17px;
	margin-right: 19px;
	padding: 5px;
}

.header-time-phone {
	position: absolute;
	top: 62px;
	right: 10px;
	padding: 10px;
	text-align: right;
}

.header-time-phone p {
	font-size: 14px;
	margin-top: 0;
}

.header-time-phone a {
	font-size: 22px;
	line-height: 32px;
	color: rgba(255, 255, 255, 1);
	border: none;
}
/*----------------------PROMO-------------------------*/

.promo {
	width: 880px;
	height: 541px;
	padding: 20px 10px;
	text-align: center;
	box-sizing: border-box;
	/* outline: 1px solid violet;  */
}

.promo h1 {
	margin-top: 286px;
	margin-bottom: 100px;
	font-size: 60px;
	line-height: 60px;
}

.promo-btn {
	max-width: 280px;
	padding: 12px 40px;
	font-size: 32px;
	line-height: 1.4;
	border-radius: 35px;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
	box-sizing: border-box;
}

/*----------------------BONUS-------------------------*/

.bonus {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 10px;
	/* border: 1px solid violet; */
}

.bonus-item {
	position: relative;
	margin-right: 20px;
}

.bonus-item:last-of-type {
	margin-right: 0;
}

.bonus-item h2, 
.bonus-item p,
.bonus-item-btn {
	position: absolute;
	margin-top: 0;
	font-weight: bold;
}

.bonus-item h2 {
	top: 16px;
	left: 18px;
	font-size: 35px;
	line-height: 1.17;
}

.bonus-item p {
	top: 73px;
	left: 18px;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.3;
	margin-bottom: 10px;
}

a.bonus-item-btn {
	display: block;
	right: 21px;
	bottom: 28px;
	padding-left: 22px;
	padding-right: 22px;
	line-height: 34px;
	border-radius: 30px;
}

/*----------------------HITS-------------------------*/

.hits {
	display: flex;
	flex-wrap: wrap;
	padding: 10px 0;
}

.hits-item  {
	position: relative;
	width: 200px;
	padding: 10px;
	padding-top: 6px;
	padding-bottom: 9px;
	text-align: center;
	/* outline: 1px solid violet; */
}

.hits-item::before {
	content: url("../img/hit.png");
	position: absolute;
}

.hits-item a {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}

.hits-item img {
	margin-bottom: 7px;
}

.hits-price {
	position: absolute;
	top: 146px;
	font-size: 45px;
	line-height: 45px;
}

.hits-price span {
	font-size: 30px;
}

/*----------------------ABOUT-US-------------------------*/

.about-us {
	padding: 20px 10px;
	/* outline: 1px solid violet;  */
}

.about-us-bg {
	padding: 24px 20px;
	background: url("../img/wafer.png");
	border-radius: 15px;
	/* outline: 1px solid violet;  */
}

.about-us-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	min-height: 255px;
	margin: 0;
	margin-bottom: 1px;
	padding: 0;
	list-style: none;
	/* outline: 1px solid violet;  */
}

.about-us-content li {
	position: relative;
	max-width: 410px;
	padding-top: 13px;
	padding-left: 56px;
	padding-right: 4px;
	box-sizing: border-box;
	/* outline: 1px solid violet;  */
}

.about-us-content li:nth-of-type(even) {
	max-width: 400px;
}

.about-us h2 {
	margin-top: 0;
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 24px;
	line-height: 1.25;
	color: rgb(50, 50, 50);
	/* outline: 1px solid violet;  */
}

.about-us-content p {
	margin: 0; 
	line-height: 1.4;
	font-weight: normal;
	color: rgb(50, 50, 50);
	/* outline: 1px solid violet;  */
}

[class^="about-us-"]::before {
	position: absolute;
	top: 0;
	left: 0;
	/* outline: 1px solid violet;  */
}

.about-us-ice::before {
	content: url("../img/icon-ice.png");
}

.about-us-cow::before {
	content: url("../img/icon-cow.png");
}

.about-us-nature::before {
	content: url("../img/icon-nature.png");
}

.about-us-temp::before {
	content: url("../img/icon-temp.png");
}

/*----------------------NEWS-SUBSCRIBE-------------------------*/

.news-subscribe {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 10px;
	padding-bottom: 35px;
	/* border: 1px solid violet; */
}

.news {
	position: relative;
	margin-right: 20px;
	/* border: 1px solid violet; */
}

.news h2 {
	position: absolute;
	top: 24px;
	left: 19px;
	margin-top: 0;
	color: rgb(90, 90, 90);
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
}

.news a {
	display: block;
	position: absolute;
	top: 50px;
	left: 19px;
	color: rgb(53, 53, 53);
	font-size: 24px;
	line-height: 29px;
	text-decoration: underline;
}

.news span {
	background-color: rgba(255, 255, 255, 0.8);
}

.news a .row-1 {
	padding-right: 12px;
}

.news a .row-2 {
	padding-right: 9px;
}

.subscribe {
	padding: 5px; 
	background: url("../img/gradient.png") no-repeat;
}

.subscribe-inner {
	width: 409px;
	min-height: 210px;
	padding: 30px 21px;
	padding-right: 18px;
	border-radius: 12px;
	background-color: rgb(248, 247, 244);
	box-sizing: border-box;
}

.subscribe-inner label {
	display: block;
	margin-bottom: 13px;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.375;
	color: rgb(90, 90, 90);
}

.subscribe input[type="email"] { 
	display: inline-block;
	width: 229px;
	margin-right: 8px;
	padding:  10px 13px;
	padding-bottom: 9px;
	font-size: 16px;
	line-height: 1.5;
	border: 1px solid rgb(178, 178, 178);
	border-radius: 5px;
	background-color: rgba(255, 255, 255);
	opacity: 0.7;
	box-sizing: border-box;
 }

.subscribe input[type="submit"] {
	padding: 9px 18px 11px 18px;
	font-size: 17px;
}

/*----------------------MAP-FEEDBACK-------------------------*/

.map-feedback {
	position: relative;
	min-height: 430px;
	background-image: url("../img/map.png");
}

.map-pin::before {
	content: url("../img/pin-ice.png");
	position: absolute;
	top: 139px;
	left: 186px;
}

.map-pin::after {
	content: url("../img/pin-shadow.png");
	position: absolute;
	top: 170px;
	left: 224px;
}

.feedback-form {
	position: absolute;
	top: 62px;
	right: 20px;
	width: 302px;
	padding: 30px 25px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	border-radius: 15px;
	box-sizing: border-box;
}

.feedback-form a,
.feedback-form span {
	display: block;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	color: rgb(0, 0, 0);
}

.feedback-form p { 
	margin: 0;
	margin-bottom: 18px;
	/* border: 1px solid red; */
}

.feedback-form p:last-of-type {
	margin-bottom: 23px;
}

.feedback-form a {
	line-height: 30px;
}

.feedback-form span {
	margin-top: 1px;
	
}

a.feedback-form-btn {
	color: rgb(255, 255, 255); 
	line-height: 34px;
	border-radius: 30px;
}

/*----------------------FOOTER-------------------------*/

.footer-total {
	display: flex;
	flex-wrap: wrap;
	align-items: center; 
	min-height: 100px;
}

.footer-social {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
	width: 205px;
	margin-top: 12px;
	margin-right: 62px;
	margin-bottom: 3px;
	padding: 5px 10px;
	box-sizing: border-box;
	/* border: 1px solid red; */
}

.footer-social .footer-btn {
	position: relative;
	width: 32px;
	height: 32px;
	margin-top: 4px;
	margin-bottom: 5px;
	border: 3px solid rgba(255, 255, 255, 0.5); 
	border-radius: 50%;
}

.footer-btn::after {
	position: absolute;
	top: 0;
	left: 0;
}

.footer-btn.tw::after {
	content: url("../img/tw.png");
}

.footer-btn.insta::after {
	content: url("../img/insta.png");
}

.footer-btn.fb::after {
	content: url("../img/fb.png");
}

.footer-btn.vk::after {
	content: url("../img/vk.png");
}

.footer-partners {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-top: 4px;
	margin-right: 77px;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	font-weight: normal;
	list-style: none;
	/* border: 1px solid red; */
}

.footer-partners li {
	position: relative;
	max-width: 193px;
	padding-left: 22px;
	padding-right: 9px;
	line-height: 22px;
	/* border: 1px solid red; */
	
}

.footer-partners .left-heart::before {
	content: url("../img/footer-heart.png");
	position: absolute;
	top: 3px;
	left: 0;
}

.footer-copyrights {
	font-size: 12px;
	font-weight: normal;
}

.footer-logo {
	margin-top: 1px;
	margin-bottom: 3px;
	padding-left: 2px;
}

.footer-copyrights p {
	margin: 0;
	margin-bottom: 7px;
	padding-left: 1px;
	color: rgba(255, 255, 255, 0.8);
}