@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
/*border: 1px solid violet;*/


body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
	
.page {
	color: rgb(255, 255, 255);
	background-color: rgb(132, 157, 143);
}

.page a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	border-bottom: 1px solid white;
}

a[class$="-btn"],
div[class$="-btn"],
input[class$="-btn"] {
	padding: 5px 20px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	color: rgb(255, 255, 255);
	border-radius: 25px;
	border: none;
	background-image: linear-gradient(90deg, rgb(231,74,53), rgb(242,104,67));
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.center {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}

.header-btn-block {
	display: flex;
	justify-content: space-between;
	width: 262px;
	margin-left: auto;
	padding: 10px;
	padding-top: 23px;
}

.header-btn  {
	position: relative;
	width: 33px;
	height: 32px;
	font-size: 14px;
	font-weight: normal;
	line-height: 32px; 
	background-color: rgb(164, 185, 173);
	border-radius: 20px;
}

.header-btn.search::after {
	content: url("../img/Loupe.png");
	position: absolute;
	top: 4px;
	left: 8px;
}

.header-btn.enter {
	width: 49px;
	padding-left: 44px;
}

.header-btn.enter::after {
	content: url("../img/enter.png");
	position: absolute;
	top: 5px;
	left: 16px;
}

.header-btn.cart {
	width: 73px;
	padding-left: 44px;
}

.header-btn.cart::after {
	content: url("../img/cart.png");
	position: absolute;
	top: 6px;
	left: 16px;
}

.header-logo {
	padding: 10px;
}

.page-nav {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 7px;
	list-style: none;
}

.page-nav li {
	margin-top: 17px;
	margin-right: 19px;
	padding: 5px;
}

.header-time-phone {
	position: absolute;
	top: 62px;
	right: 10px;
	padding: 10px;
	text-align: right;
}

.header-time-phone p {
	font-size: 14px;
	margin-top: 0;
}

.header-time-phone a {
	font-size: 22px;
	line-height: 32px;
	border: none;
}

.news-subscribe {
	display: flex;
	flex-wrap: wrap;
	padding: 40px 10px;
}

.news {
	position: relative;
	margin-right: 20px;
}

.news h2 {
	position: absolute;
	top: 28px;
	left: 20px;
	margin-top: 0;
	color: rgb(90, 90, 90);
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
}

.news p {
	position: absolute;
	top: 55px;
	left: 20px;
	margin-top: 0;
	color: rgb(53, 53, 53);
	font-size: 24px;
	line-height: 29px;
	text-decoration: underline;
}

.news span {
	background-color: rgba(255, 255, 255, 0.8);
}

.news p .row-1 {
	padding-right: 12px;
}

.news p .row-2 {
	padding-right: 9px;
}

.subscribe {
	padding: 5px; 
	background: url("../img/gradient.png") no-repeat;
}

.subscribe-inner {
	display: flex;
	flex-direction: column;
	width: 410px;
	min-height: 210px;
	padding: 30px 15px;
	padding-bottom: 23px;
	border-radius: 12px;
	background-color: rgb(248, 247, 244);
	box-sizing: border-box;
}

.subscribe label {
	margin-bottom: 10px;
	padding: 5px;
	font-size: 17px;
	font-weight: normal;
	color: rgb(90, 90, 90);
}

.subscribe-input-group {
	display: flex;
	flex-wrap: wrap;
}

.subscribe-submit-btn {
	margin: 5px;
	margin-left: 12px;
}

.subscribe-input-email {
	flex-grow: 1;
	margin: 5px;
	padding: 10px 15px;
	border: 1px solid rgb(178, 178, 178);
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.5);
}





















.map-feedback {
	position: relative;
	height: 430px;
	background-image: url("../img/map.png");
}

.map-pin::before {
	content: url("../img/pin-ice.png");
	position: absolute;
	top: 138px;
	left: 185px;
}

.map-pin::after {
	content: url("../img/pin-shadow.png");
	position: absolute;
	top: 170px;
	left: 222px;
}

.feedback-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 62px;
	right: 20px;
	max-width: 302px;
	min-height: 305px;
	padding: 30px 25px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	border-radius: 15px;
	box-sizing: border-box;
}

.feedback-form a {
	color: rgb(0, 0, 0);
}

 .feedback-form p { 
	margin: 0;
}

.feedback-form span {
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
}

.feedback-form-bottom span {
	line-height: 22px;
}

a.feedback-form-btn {
	color: rgb(255, 255, 255); 
	line-height: 45px;
	border-radius: 30px;
}

.footer-social {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
	min-width: 185px;
	padding: 10px;
	margin-right: 32px;
}

.footer-social .footer-btn {
	position: relative;
	width: 32px;
	height: 32px;
	margin-top: 25px;
	border: 4px solid rgba(255, 255, 255, 0.5); 
	border-radius: 50%;
}

.footer-btn.tw::after,
.footer-btn.insta::after,
.footer-btn.fb::after,
.footer-btn.vk::after {
	position: absolute;
	top: 0;
	left: 0;
}

.footer-btn.tw::after {
	content: url("../img/tw.png");
}

.footer-btn.insta::after {
	content: url("../img/insta.png");
}

.footer-btn.fb::after {
	content: url("../img/fb.png");
}

.footer-btn.vk::after {
	content: url("../img/vk.png");
}

.footer-partners {
	display: flex;
	width: 335px;
	padding: 10px;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
}

.footer-partners-left {
	position: relative;
	margin-right: 32px;
	padding-top: 20px;
	padding-left: 22px;
}

.footer-partners-right {
	padding-top: 20px;
}

.footer-partners-left::before {
	content: url("../img/footer-heart.png");
	position: absolute;
	top: 22px;
	left: 0;
}

.footer-copyrights {
	width: 190px;
	padding: 10px;
	font-size: 12px;
	font-weight: normal;
}

.footer-copyrights p {
	margin-top: 0;
	margin-bottom: 10px;
}

.footer-logo {
	margin-top: 10px;
}


